.header__lang-link {
    margin: 14px 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: white;
    text-decoration: none;
}

.header__lang-link:first-of-type{
    text-decoration: underline;
    margin-right: 18px;
}