.header__lang-link {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: white;
    text-decoration: none;
    margin-right: 18px;
}

.header__lang-link:last-of-type{
    margin: 0;
}
