.place__image {
  display: block;
  object-fit: cover;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .place__image {
    margin: 0;
    min-height: 340px;
    grid-area: image;
  }
}
