.lead__title {
    margin: 0 16px 16px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__title {
    margin: 0 24px 32px;
    font-size: 96px;
    line-height: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    margin: 0 calc(152px - 48px) 32px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin: 0 calc(280px - 148px) 32px;
  }
}

