.header__lang-bar {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  justify-self: flex-end;
  box-sizing: border-box;
  padding: 18px 0 0;
}
