.place {
  margin-bottom: 50px;
}

.place:last-of-type{
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    margin-bottom: 0 0 73px;
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-gap: 48px 28px;
    grid-template-areas:
    'title website'
    'image description';
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
    margin: 0 0 80px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 1fr;
    grid-gap: 48px 40px;
    margin: 0 0 80px;
  }
}

